services:
  ollama:
    image: ollama/ollama
    container_name: souli-ollama
    volumes:
      - ./ollama_storage:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  qdrant:
    image: qdrant/qdrant
    container_name: souli-qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    environment:
      - QDRANT__SERVICE__API_KEY=${QDRANT_API_KEY}

  fastapi-app:
    build: .
    container_name: souli-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - ollama
      - qdrant